{% load staticfiles %}
<!DOCTYPE html>
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MT+ | {% block title %}{% endblock %}</title>
    {% comment %}<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->{% endcomment %}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "mtplus/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "mtplus/font-awesome/css/font-awesome.css" %}">

    <link rel="stylesheet" href="{% static "mtplus/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "mtplus/css/style.css" %}">
    {% block extracss %}{% endblock %}

    {% block favicon %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static "mtplus/images/favicon.ico" %}">

    {% endblock %}
</head>

<body  id="page-top" class="landing-page no-skin-config {% block body_extraccs_class %}{% endblock %}">

{% block content %}{% endblock %}

<!-- Mainly scripts -->
<script src="{% static "mtplus/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "mtplus/js/bootstrap.min.js" %}"></script>
<script src="{% static "mtplus/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "mtplus/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

<!-- Custom and plugin javascript -->
<script src="{% static "mtplus/js/inspinia.js" %}"></script>
<script src="{% static "mtplus/js/plugins/pace/pace.min.js" %}"></script>
<script src="{% static "mtplus/js/plugins/wow/wow.min.js" %}"></script>
{% block extrascript %}{% endblock %}

<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>

</html>
