{% load i18n %}
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Market+</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#working">Working</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                        <li><a class="page-scroll" href="{% url 'customer:index' %}">Products</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="{% url 'customer:summary' %}"> {% trans "Account" %}</a>
                    </li>
                    {% if user.is_staff %}
                        <li><a class="page-scroll" href="{% url 'admin:index' %}"> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" class="page-scroll" href="{% url 'account_logout' %}"> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" class="page-scroll" href="{% url 'account_login' %}"> {% trans "Login" %}</a></li>
                    <li><a id="login_link" class="page-scroll" href="{% url 'account_signup' %}"> {% trans "Register" %}</a></li>
                {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
</div>
