{% extends "layout_2_col_profile.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title }} | {{ block.super }}
{% endblock %}

{% block header %}
    <div class="page-header action">

        <h1>{{ flatpage.title }}</h1>
    </div>
{% endblock %}


{% block tabcontent %}
    {% if object_list %}
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Address' %}</th>
                <th>{% trans 'Founded' %}</th>
                <th>{% trans 'Employee amount' %}</th>
                <th>{% trans 'Production power' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
            {% for company in object_list %}
                <tr>
                    <td><a href="{% url 'customer:company_update' pk=company.id %}">{{ company.name }}</a></td>
                    <td>{{ company.company_type }}</td>
                    <td>{{ company.address }}</td>
                    <td>{{ company.foundation_date }}</td>
                    <td>{{ company.employees_amount }}</td>
                    <td>{{ company.production_power }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default"
                               href="{% url 'customer:company_update' pk=company.id %}">{% trans 'View' %}</a>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'customer:company_update' pk=company.id %}">
                                        {% trans 'Wish list settings' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'customer:company_update' pk=company.id %}">
                                        {% trans 'Delete' %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>
            {% trans "You don't have any partners lists yet." %}
        </p>
    {% endif %}

    <p>
        <a href="{% url 'customer:company_create' %}" class="btn btn-primary">{% trans 'Create Partner' %}</a>
        <a href="{% url 'customer:index' %}">All</a>
    </p>

{% endblock tabcontent %}
