{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'My Company' %}{% endblock %}{% endblock %}{% endblock %}


{% load thumbnail %}


{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <form  id="companyForm" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
{#            <img src="{{ company.logo.avatar.url }}" alt="" />#}
        </div>
    </div>
{% endblock %}

