{% extends "layout_2_col_profile.html" %}
{% load i18n %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'Employee' %}{% endblock %}{% endblock %}{% endblock %}



{% block header %}
    <div class="page-header action">

        <h1>{{ company.name }}</h1>
    </div>
{% endblock %}


{% block tabcontent %}
    {% include 'partials/form.html' with form_id="employee_form" action="." %}
    <a href="{% url 'customer:employee_list' %}">List</a>
    <a href="{% url 'customer:index' %}">All</a>
{% endblock tabcontent %}

