{% load i18n %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load widget_tweaks %}
{% load crispy_forms_field %}

{{ formset.management_form }}
<div class="table-responsive">
    {#{{ formset.non_form_errors }}#}
    <table class="table table-bordered table-stripped">
        <thead>
        {% for form in formset.forms %}
            {% if forloop.first %}
                <tr>
                    <th>{% trans 'Preview' %}</th>
                    {% for field in form %}
                        {% if not field.is_hidden %}
                            <th>{{ field.label }}</th>{% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
        <tr></tr>
        </thead>
        <tbody>
        {% for form in formset.forms %}
            <tr>
                {% for field in form %}
                    {% if forloop.first %}
                        <td class="col-sm-1">

                            <div class="file">
                                <span class="corner"></span>


                                {% if field.value and field.value.product.url %}
                                    <img src="{{ field.value.product.url }}" alt=""/>
                                {% else %}
                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                {% endif %}

                            </div>

                        </td>{% endif %}
                    {% if not field.is_hidden %}
                        <td>
                            {% if field.widget_type == 'CheckboxInput' or field|is_checkbox or field|is_radioselect %}
                                {% render_field field class+="checkbox i-checks" %}
                            {% else %}
                                {#                                                                {% render_field field class+="form-control" %}#}
                                {% crispy_field field %}
                            {% endif %}
                            {% include 'bootstrap3/layout/help_text_and_errors.html' %}
                        </td>
                    {% else %}
                        {% crispy_field field %}
                    {% endif %}

                {% endfor %}

                {% if form.pk %} {# empty forms do not have a pk #}
                    <td>Delete? {{ field.DELETE }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>