{% extends "layout_2_col_profile.html" %}
{% load i18n %}

{% block title %}
    {{ flatpage.title }} | {{ block.super }}
{% endblock %}

{% block header %}
    <div class="page-header action">

        <h1>{{ flatpage.title }}</h1>
    </div>
{% endblock %}


{% block tabcontent %}
    {% if object_list %}
        <table class="table table-striped table-bordered">
            <tbody>
            <tr>
                <th>{% trans 'Order' %}</th>
                <th>{% trans 'Participants' %}</th>
                <th>{% trans 'Messages' %}</th>
                <th>{% trans 'Action' %}</th>
            </tr>
            {% for order_disc in object_list %}
                <tr>
                    <td><a href="{% url 'customer:order_discuss' pk=order_disc.id %}">{{ order_disc.order.number }}</a></td>
                    <td>{{ order_disc.participants.all.count }}</td>
                    <td>{{ order_disc.messages.all.count }}</td>
                  <td>
                        <div class="btn-group">
                            <a class="btn btn-default"
                               href="{% url 'customer:order_discuss' pk=order_disc.id %}">{% trans 'View' %}</a>
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'customer:order_discuss' pk=order_disc.id %}">
                                        {% trans 'Wish list settings' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'customer:order_discuss' pk=order_disc.id %}">
                                        {% trans 'Delete' %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "partials/pagination.html" %}
    {% else %}
        <p>
            {% trans "You don't have any products lists yet." %}
        </p>
    {% endif %}

    <p>
        <a href="{% url 'customer:product_create' %}" class="btn btn-primary">{% trans 'Create Product' %}</a>
        <a href="{% url 'customer:index' %}">All</a>
    </p>

{% endblock tabcontent %}
