{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'Orders' %}{% endblock %}{% endblock %}{% endblock %}



{% block main_content %}

            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="order_id">{% trans 'Order ID' %}</label>
                            <input type="text" id="order_id" name="order_id" value="" placeholder="Order ID" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="status">{% trans 'Order status' %}</label>
                            <input type="text" id="status" name="status" value="" placeholder="Status" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="customer">{% trans 'Customer' %}</label>
                            <input type="text" id="customer" name="customer" value="" placeholder="Customer" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="date_added">{% trans 'Date added' %}</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_added" type="text" class="form-control" value="03/04/2014">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="date_modified">{% trans 'Date modified' %}</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_modified" type="text" class="form-control" value="03/06/2014">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="amount">{% trans 'Amount' %}</label>
                            <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                 <div class="col-lg-12">
                        <div class=" controls btn-group">
                        <a href="{% url 'customer:order_create'  %}">
                            <button class="btn">{% trans 'Create' %}</button></a>
                   <a href="{% url 'customer:order_create' %}">
                        <button class="btn btn-primary">{% trans 'Search' %}</button> </a>
                        </div>   
                </div>
           </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th>{% trans 'Order ID' %}</th>
                                    <th data-hide="phone">{% trans 'Product' %}</th>
                                    <th data-hide="phone">{% trans 'Customer' %}</th>
                                    <th data-hide="phone">{% trans 'Amount' %}</th>
                                    <th data-hide="phone,tablet" >{% trans 'Date added' %}</th>
                                    <th data-hide="phone">{% trans 'Status' %}</th>
                                    <th class="text-right">{% trans 'Action' %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                          {% for order in object_list %}
                                 <tr>
                    <td>{{ order.number }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>{{ order.customer.full_name }}</td>
                    <td>{{ order.order_amount }} / {{ order.order_amount_unit }}</td>
                    
                    <td>{{ order.created_on }}</td>
                    <td> 
                    <span class="label label-primary">{{ order.status }}</span>
                    </td>
                   <td class="text-right">
                        <div class="btn-group">
                        <a href="{% url 'customer:order_update' pk=order.id %}">
                            <button class="btn-white btn btn-xs">{% trans 'View' %}</button></a>
                   <a href="{% url 'customer:order_update' pk=order.id %}">
                        <button class="btn-white btn btn-xs">{% trans 'Edit' %}</button> </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
                    


                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
