{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'Products' %}{% endblock %}{% endblock %}{% endblock %}

{% block main_content %}

            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="product_name">{% trans 'Product Name' %}</label>
                            <input type="text" id="product_name" name="product_name" value="" placeholder="Product Name" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="price">{% trans 'Price' %}</label>
                            <input type="text" id="price" name="price" value="" placeholder="Price" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="quantity">{% trans 'Amount' %}</label>
                            <input type="text" id="quantity" name="quantity" value="" placeholder="Quantity" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="status">{% trans 'Status' %}</label>
                            <select name="status" id="status" class="form-control">
                                <option value="1" selected>{% trans 'Enabled' %}</option>
                                <option value="0">{% trans 'Disabled' %}</option>
                            </select>
                        </div>
                    </div>
                </div>
            <div class="row" style="padding-bottom:15px" >
                 <div class="col-lg-12" >
                        <div class=" controls btn-group">
                        <a href="{% url 'customer:product_create'  %}">
                            <button class="btn">Create</button></a>
                   <a href="{% url 'customer:product_create' %}">
                        <button class="btn btn-primary">Search</button> </a>
                        </div>   
                </div>
           </div>
            <!-- </div> -->
          
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th data-toggle="true">{% trans 'Product Name' %}</th>
                                    <th data-hide="phone">{% trans 'Category' %}</th>
                                    <th data-hide="all">{% trans 'Description' %}</th>
                                    <th data-hide="phone">{% trans 'Price' %}</th>
                                    <th data-hide="phone">{% trans 'Amount' %}</th>
                                    <th data-hide="phone">{% trans 'Status' %}</th>
                                    <th class="text-right" data-sort-ignore="true">{% trans 'Action' %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for product in object_list %}
                                 <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.notes }}</td>
                    <td>{{ product.price }} {{product.currency}} </td>
                    
                    <td>{{ product.amount }} {{ product.unit }}</td>
                    <td> 
                    <span class="label label-primary">{{ product.status }}</span>
                    </td>
                   <td class="text-right">
                        <div class="btn-group">
                        <a href="{% url 'customer:product_update' pk=product.id %}">
                            <button class="btn-white btn btn-xs">View</button></a>
                   <a href="{% url 'customer:product_update' pk=product.id %}">
                        <button class="btn-white btn btn-xs">Edit</button> </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
                    

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
