{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{{ form.name.value|default:"New product" }}{% endblock %}{% endblock %}{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
{#            {{ form.errors }}#}
{#            {{ formset.errors }}#}
{#            {{ errors }}#}
            <form id="productForm" class="form-horizontal" method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}