{% extends user.is_authenticated|yesno:"mtplus/layout.html,mtplus/site_layout_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{{ product.name }}{% endblock %}{% endblock %}{% endblock %}
{% block breadcrumbs_sub %}
    <li><a href="{% url "customer:index" %}">{{ product.category.name }}</a></li>
{% endblock %}
{% block main_content %}
  <div class="row">
                <div class="col-lg-12">

                    <div class="ibox product-detail">
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="product-images">
                                    	{% if product.images %}
                                    	{% for images in product.images.all %}
                                        <div>
                                            <div class="image-imitation" style="padding:0px; " >
                                            	<!-- background:center no-repeat url('{{images.image.url}}') -->
                                                <img style="widgh:280px;height:280px" src="{{images.image.url}}" alt="">
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                    </div>

                                </div>
                                <div class="col-md-7">

                                    <h2 class="font-bold m-b-xs">
                                       {{product.name}}
                                    </h2>
                                    <!-- <small>Many desktop publishing packages and web page editors now.</small> -->
                                    <div class="m-t-md">
                                        <h2 class="product-main-price">{{product.price}} {{product.currency}} / {{product.amount}} {{product.unit}} <small class="text-muted">{% trans 'Exclude Tax' %}</small> </h2>
                                    </div>
                                    <hr>

                                    <h4>{% trans 'Product description' %}</h4>

                                    <div class="small text-muted">
                                        {{product.notes|linebreaksbr}}

                                    <div>
                                        <div class="btn-group">
                                            <!-- <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button> -->
                                            <button class="btn  btn-primary btn-sm"><i class="fa fa-star"></i> {% trans 'Add to wishlist' %} </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> {% trans 'Contact with author' %} </button>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </div>
                         <div class="ibox-footer"></div>

                    </div>

                </div>
            </div>
</div>
{% endblock %}

{% block extracss %}
	{{block.super}}
    <link href="{% static "mtplus/css/plugins/slick/slick.css" %}" rel="stylesheet">
    <link href="{% static "mtplus/css/plugins/slick/slick-theme.css" %}" rel="stylesheet">


{% endblock %}

{% block extrascript %}
	{{block.super}}
	<!-- slick carousel-->
    <script src="{% static "mtplus/js/plugins/slick/slick.min.js" %}"></script>
<script>
    $(document).ready(function(){


        $('.product-images').slick({
            dots: true
        });

    });

</script>
{% endblock %}