{% extends user.is_authenticated|yesno:"mtplus/layout.html,mtplus/site_layout_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'Products' %}{% endblock %}{% endblock %}{% endblock %}
{% block main_content %}
<div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
{% if request.GET.search %}
    <h2>{{product_list|length}} results found for: <span class="text-navy">“{{request.GET.search}}”</span></h2>
{% endif %}
                            <!-- <small>Request time  (0.23 seconds)</small> -->

                            <div class="search-form">
                                <form action="" method="get">
                                    <!-- <div class="input-group"> -->
                                    <div class="input-group m-b">
           
<!--  <div class="input-group-btn" style='width:100px'>
    <select class="form-control input-lg" name="category" >
                                        <option value="all" default>All</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                    </select>
                                </div>
 -->       <input type="text" placeholder="{{query}}" value="{{request.GET.search}}" name="search" class="form-control input-lg">
                                        <div class="input-group-btn">
                                            <button class="btn btn-lg btn-primary" type="submit">
                                                Search
                                            </button>
                                        </div>
                                    <!-- </div> -->
                                </div>

                                </form>
                            </div>
                            <!-- <div class="ibox float-e-margins"></div> -->
</div></div></div></div>
<div class="row">
{% for product in product_list %}
<div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">

                              {% if product.images and product.images.first %}
                            <div class="product-imitation" style="padding:10px">
                             <img style='width:180px;height:180px' src="{{ product.images.first.image.url }}" alt=""/>

                              {% else %}
                              <div class="product-imitation">
                                [ INFO ] 
                              {% endif %}
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    {{ product.price }} {{product.currency}} / {{product.amount}} {{ product.unit }}
                                </span>
                                <small class="text-muted">{{ product.category.name }}</small>
                                <a href="#" class="product-name"> {{ product.name }}</a>



                                <div class="small m-t-xs">
                                    {{ product.notes|truncatewords:15 }}
                                </div>
                                <div class="m-t text-righ">

                                    <a href="{% url "customer:product_detail" pk=product.id %}" class="btn btn-xs btn-outline btn-primary">{% trans 'Info' %} <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% if forloop.counter|divisibleby:4 %}
</div>
<div class="row"> 
{% endif %}
{% endfor %}
</div>
{% endblock %}
