{% extends 'mtplus/error.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Page Not Found' %}
{% endblock %}

{% block error_code %}
    404
{% endblock %}

{% block error_heading %}
    {% trans 'Page Not Found' %}
{% endblock %}

{% block error_message %}

    {% trans 'Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.' %}
    <form class="form-inline m-t" role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for page">
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Search' %}</button>
    </form>


{% endblock %}