{% extends 'mtplus/error.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Internal Server Error' %}
{% endblock %}

{% block error_code %}
    500
{% endblock %}

{% block error_heading %}
    {% trans 'Internal Server Error' %}
{% endblock %}

{% block error_message %}
    {% blocktrans %}The server encountered something unexpected that didn't allow it to complete the request. We
        apologize.<br/>
        You can go back to main page:{% endblocktrans %}<br/>
    <a href="index.html" class="btn btn-primary m-t">{% trans 'Dashboard' %}</a>
{% endblock %}