{% load staticfiles %}
<!DOCTYPE html>
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MT+ | {% block title %}{% endblock %}</title>
    {% comment %}<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->{% endcomment %}
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "mtplus/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "mtplus/font-awesome/css/font-awesome.css" %}">

    <link rel="stylesheet" href="{% static "mtplus/css/animate.css" %}">
    <link rel="stylesheet" href="{% static "mtplus/css/style.css" %}">
    {% block extracss %}{% endblock %}

    {% block favicon %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static "mtplus/images/favicon.ico" %}">

    {% endblock %}
</head>

<body class=" {% block body_extraccs_class %}{% endblock %}">

{% block content %}{% endblock %}

<!-- Mainly scripts -->
<script src="{% static "mtplus/js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "mtplus/js/bootstrap.min.js" %}"></script>

{% block extrascript %}{% endblock %}
</body>

</html>
