{% extends user.is_authenticated|yesno:"mtplus/layout.html,mtplus/site_layout_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'Contact Us' %}{% endblock %}{% endblock %}{% endblock %}


{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Any question and request please contact with us.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">MarketPlus, Inc.</span></strong><br/>
                    Tashkent, Amir Temur street, 103 house<br/>
                    Uzbekistan, 100194<br/>
                    <abbr title="Phone">P:</abbr> (998) 71 801-1190
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:support@email.com" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}