{% extends 'mtplus/base.html' %}
{% block body_extraccs_class %}gray-bg{% endblock %}

{% block content %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>{% block error_code %}{% endblock %}</h1>

        <h3 class="font-bold">{% block error_heading %}{% endblock %}</h3>

        <div class="error-desc">
            {% block error_message %}{% endblock %}
        </div>
    </div>
{% endblock %}