{% extends 'mtplus/base.html' %}
{% load staticfiles %}
{% block extracss %}
    <link href="{% static "mtplus/css/plugins/iCheck/custom.css" %}" rel="stylesheet">
{% endblock %}
{% block body_extraccs_class %}gray-bg{% endblock %}

{% block content %}
   <div class="middle-box text-center {% block content_box_css_class %}{% endblock %} animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">MT+</h1>
            </div>
            {% include "mtplus/partials/alert_messages.html" %}
            {% block main_content %}{% endblock %}
            <p class="m-t"> <small>MarketPlus (MT+) Company &copy; 2017</small> </p>
        </div>
    </div>


{% endblock %}
{% block extrascript %}
     <!-- iCheck -->
    <script src="{% static "mtplus/js/plugins/iCheck/icheck.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        });
    </script>
{% endblock %}