{% extends 'mtplus/layout.html' %}
{% load staticfiles %}
{% block body_extraccs_class %}top-navigation{% endblock %}
{% block content %}
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">        	 
            <!-- Page wrapper -->
            {% include "mtplus/partials/topnavbar.html" %}
            <!-- Main view  -->
            <div class="wrapper wrapper-content animated fadeInRight">
  	         <div class="container">
                {% include "mtplus/partials/alert_messages.html" %}
                {% block main_content %}{% endblock %}
            </div>
            </div>

            <!-- Footer -->
            {% include "mtplus/partials/footer.html" %}

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
{% endblock %}

