{% load i18n %}
{#  {% block breadcrumbs %}#}
      <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-lg-10">
              <h2>{% block breadcrumbs_title %}{% endblock %}</h2>
              <ol class="breadcrumb">
                  <li>
                      <a href="/">{% trans 'Home' %}</a>
                  </li>
              {% block breadcrumbs_sub %}{% endblock %}
                  <li class="active">
                      <strong>{% block breadcrumbs_current_title %}{% endblock %}</strong>
                  </li>
              </ol>
          </div>
          <div class="col-lg-2">

          </div>
      </div>
{#  {% endblock %}#}