{% load i18n %}
{% load staticfiles %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                            <img alt="image" class="img-circle" src="{% static "mtplus/img/profile_small.jpg" %}"/>
                    </span>

                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.get_full_name}}</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>

                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{% url "customer:profile"  %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url "account_settings"  %}">{% trans "Settings" %}</a></li>
                        <li><a href="{% url "account_password"  %}">{% trans "Change password" %}</a></li>
                        <!-- <li><a href="contacts.html">Contacts</a></li> -->
                        <!-- <li><a href="mailbox.html">Mailbox</a></li> -->
                        <li class="divider"></li>
                        <li><a href="{% url "account_logout"  %}">{%  trans 'Logout' %}</a></li>
                    </ul>

                </div>
                <div class="logo-element">
                    MT+
                </div>
            </li>
            <li>
                <a href="{% url "customer:company"  %}"><i class="fa fa-institution"></i> <span class="nav-label">{% trans 'Company' %}</span></a>
            </li>
{#            <li >#}
{#                <a href="{% url "customer:files"  %}"><i class="fa fa-cloud"></i> <span class="nav-label">{% trans 'Company files' %}</span></a>#}
{#            </li>#}
            <li>
                <a href="{% url "customer:employee_list" %}"><i class="fa fa-users"></i> <span class="nav-label">{% trans 'Employees' %}</span> </a>
            </li>
             <li>
                <a href="{% url "customer:product_list" %}"><i class="fa fa-cubes"></i> <span class="nav-label">{% trans 'My products' %}</span> </a>
            </li>
            <li>
                <a href="{% url "customer:order_list" %}"><i class="fa fa-pencil-square-o"></i> <span class="nav-label">{% trans 'Orders' %}</span> </a>
            </li>
            <li>
                <a href="{% url "customer:site_index" path="customer/chat.html" %}"><i class="fa fa-comments"></i> <span class="nav-label">{% trans 'Chat' %}</span> </a>
            </li>

        </ul>

    </div>
</nav>