{% load i18n staticfiles %}
<div class="row border-bottom white-bg">
     <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            {% if user.is_authenticated %}
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            {% else %}
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="{% url "home" %}" class="navbar-brand">Market+</a>
            {% endif %}
        </div>
        <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-top-links navbar-right">
                <!-- <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Pages' %} <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="{% url "customer:index" %}">{% trans 'Products' %}</a></li>
                            <li><a href="">{% trans 'Faq' %}</a></li>
                            <li><a href="">{% trans 'Contact' %}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Information <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">Blogs</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                        </ul>
                    </li>

                </ul> -->
                    <li>
                        <a href="{% url 'customer:index' %}"><i class="fa fa-cubes"></i> {% trans "Products" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'faq' %}"><i class="fa fa-question"></i> {% trans "Faq" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}"><i class="fa fa-phone"></i> {% trans "Contact" %}</a>
                    </li>



             {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'customer:summary' %}"><i class="fa fa-user"></i> {% trans "Account" %}</a>
                    </li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}"><i class="fa fa-list-ul"></i> {% trans "Admin panel" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a></li>
                    <li><a id="login_link" href="{% url 'account_signup' %}"><i class="fa fa-registered"></i> {% trans "Register" %}</a></li>
                {% endif %}
              {% get_current_language as LANGUAGE_CODE %}
              {% get_language_info for LANGUAGE_CODE as lang_info %}
              {% get_available_languages as LANGUAGES %}
              {% static "mtplus/img/lang" as baseLangImg %}
                  <li class="dropdown">
{#                      {% for lang in LANGUAGES %}#}
{#                          {% if lang.0 == LANGUAGE_CODE %}#}
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                  <img src="{{ baseLangImg }}/{{ lang_info.code }}.png"/> {{ lang_info.name_local }} ({{ lang_info.code }})
                                  <span class="caret"></span>
                                </a>
{#                          {% endif %}#}
{#                      {%  endfor %}#}
                  <ul class="dropdown-menu pull-right" role="menu">
                  {% for lang in LANGUAGES %}
                          {% if lang.0 != LANGUAGE_CODE %}
                              <li role="presentation"><a role="menuitem" tabindex="1" href="#" onclick="changeLanguage('{{lang.0}}')">
                                     <img src="{{ baseLangImg }}/{{ lang.0 }}.png"/> {{ lang.1 }} ({{ lang.0 }})</a></li>
                          {% endif %}
                      {%  endfor %}
                  </ul>
                  {% comment %}    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img
                              src="{% static "mtplus/img/lang/en.png" %}"/> {% trans 'English' %}
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu pull-right" role="menu">
                          <li role="presentation"><a role="menuitem" tabindex="1" href="#" onclick="changeLanguage('uz')"><img
                                  src="{% static "mtplus/img/lang/uz.png" %}"/> {% trans 'Uzbek' %}</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="2" href="#" onclick="changeLanguage('ru')"><img
                                  src="{% static "mtplus/img/lang/ru.png" %}"/> {% trans 'Russian' %}</a></li>
                      </ul>{% endcomment %}
                  </li>

              </ul>
        </div>
    </nav>
</div>
<form action="{% url 'account_change_lang' %}" method="post" id="langForm">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <input name="language" type="hidden" value="" id="languageId"/>
    {#                      <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}" />#}
    {% comment %}{% get_available_languages as LANGUAGES %}
    <select name="language">



        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ lang.1 }} ({{ lang.0 }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go"/>{% endcomment %}
</form>
<script>
    function changeLanguage(lang) {
        $('#languageId').val(lang);
        $('#langForm').submit();
    }

    </script>