{% load string_filters %}
{% if form.non_field_errors %}
    <div class="alert alert-block alert-danger">
        {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
        <ul>
            {{ form.non_field_errors|unordered_list }}
        </ul>
    </div>
{% endif %}

{#{% if form.errors %}#}
{##}
{#    <div class="alert alert-block alert-danger">#}
{# {% for message in messages %}#}
{#     * {{ message }}#}
{#    {% endfor %}#}
{##}
{#    </div>#}
{##}
{##}
{#{% endif %}#}