<div class="tabs-container">
    <ul{% if tabs.css_id %} id="{{ tabs.css_id }}"{% endif %} class="nav nav-tabs">
        {{ links|safe }}
    </ul>
    <div class="tab-content">{% comment %}todo:find solution move panel-body class to new div as child{% endcomment %}
        {{ content|safe }}
    </div>
</div>