{% load i18n %}
<div class="row border-bottom white-bg">
     <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <i class="fa fa-reorder"></i>
                </button>
                <a href="/" class="navbar-brand">Market+</a>

        </div>
        <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Products <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">Menu item</a>
                                 <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>

                            </ul>

                            </li>
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Information <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                            <li><a href="">Menu item</a></li>
                        </ul>
                    </li>
                  
                </ul>
                <ul class="nav navbar-top-links navbar-right">
             {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'customer:summary' %}"><i class="fa fa-user"></i> {% trans "Account" %}</a>
                    </li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}"><i class="fa fa-list-ul"></i> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> {% trans "Login" %}</a></li>
                    <li><a id="login_link" href="{% url 'account_signup' %}"><i class="fa fa-registered"></i> {% trans "Register" %}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>