{% extends "account/email/base.html" %}
{% load staticfiles i18n account_tags %}

{% block content %}
    <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="alert alert-good">
                Info: {% block title %}{% endblock %}
            </td>
        </tr>
        <tr>
            <td class="content-wrap">
                <table width="100%" cellpadding="0" cellspacing="0">
                    {% block main_content %}{% endblock %}

                    <tr>
                        <td class="content-block">
                            Thanks for choosing Market+ Company Inc.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock %}
{% block footer_text %}{% blocktrans %}<a href="#">Unsubscribe</a> from these alerts.{% endblocktrans %}{% endblock %}