{% load staticfiles i18n account_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>MT+ | {% block title %}{% endblock %}</title>
    <link href="http://localhost:8000{% static "mtplus/css/email/styles.css" %}" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                {% block content %}{% endblock %}
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">{% block footer_text %}{% endblock %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
