{% extends "account/email/base.html" %}
{% load staticfiles i18n account_tags %}

{% block content %}
    <table class="main" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-wrap">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <img class="img-responsive" src="http://localhost:8000{% static "mtplus/img/mtplus_header.jpg" %}"
                                 alt="Market+"/>
                        </td>
                    </tr>
                    {% block main_content %}{% endblock %}
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
{% block footer_text %}{% blocktrans %}Follow <a href="#">@Market+</a> on Twitter.{% endblocktrans %}{% endblock %}