{% extends "account/email/base_notification.html" %}
{% load staticfiles i18n account_tags %}
{% block main_content %}
    <tr>
        <td class="content-block">
            <h3>{% block title %}{% trans "Welcome to Market+" %}{% endblock %}</h3>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% blocktrans with site_name=current_site.name %}A user on {{ site_name }} has
                created an account using this email address.{% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% blocktrans %}We may need to send you critical information about our service
                and it is important that we have an accurate email address.{% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block aligncenter">
            <a href="{{ activate_url }}"
               class="btn-primary">{% trans "Confirm email address" %}</a>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% trans "If you did not sign up for this site, you can ignore this message." %}
        </td>
    </tr>
{% endblock %}