{% extends "account/email/base_notification.html" %}
{% load staticfiles i18n account_tags %}
{% block main_content %}
    <tr>
        <td class="content-block">
            <h3>{% block title %}{% trans "Welcome to Market+" %}{% endblock %}</h3>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {{% blocktrans with name=current_site.name %}You have been invited to sign up at {{ name }}.
        {% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block aligncenter">
            <a href="{{ signup_url }}"
               class="btn-primary">{% trans "Sign Up" %}</a>
        </td>
    </tr>
{% endblock %}