{% extends "account/email/base_alert.html" %}
{% load staticfiles i18n account_tags %}
{% block main_content %}
    <tr>
        <td class="content-block">
            <h3>{% block title %}{% trans "Account password changed notification" %}{% endblock %}</h3>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% blocktrans with now=user.account.now %}This is the email notification to confirm your password has been
                changed on {{ now }}.{% endblocktrans %}
        </td>
    </tr>
{% endblock %}