{% extends "account/email/base_notification.html" %}
{% load staticfiles i18n account_tags %}
{% block main_content %}
    <tr>
        <td class="content-block">
            <h3>{% trans "Password reset request" %}</h3>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% blocktrans with site_name=current_site.name %}You're receiving this email because you or someone else has
                requested a password for your user account at {{ site_name }}.
            {% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {% blocktrans %}It can be safely ignored if you did not request a password reset. Click the link
                below to reset your password. {% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block aligncenter">
            <a href="{{ password_reset_url }}"
               class="btn-primary">{% trans "Reset password" %}</a>
        </td>
    </tr>
{% endblock %}