{% extends 'mtplus/base.html' %}
{% load staticfiles %}
{% block extracss %}
    <link href="{% static "mtplus/css/plugins/iCheck/custom.css" %}" rel="stylesheet">
{#    <!-- Data picker -->#}
    <link href="{% static "mtplus/css/plugins/datapicker/datepicker3.css" %}" rel="stylesheet">
{#    <!-- Jasny -->#}
    <link href="{% static "mtplus/css/plugins/jasny/jasny-bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}
{% block body_extraccs_class %}top-navigation{% endblock %}
{% block content %}
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">        	 
            <!-- Page wrapper -->
            {% include "mtplus/partials/topnavbar.html" %}
            <!-- Main view  -->
            <div class="wrapper wrapper-content animated fadeInRight">
  	         <div class="container">
                {% include "mtplus/partials/alert_messages.html" %}
                {% block main_content %}{% endblock %}
            </div>
            </div>

            <!-- Footer -->
            {% include "mtplus/partials/footer.html" %}

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
{% endblock %}

{% block extrascript %}
{#    <!-- plugin scripts -->#}
    <script src="{% static "mtplus/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "mtplus/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

{#    <!-- Data picker -->#}
    <script src="{% static "mtplus/js/plugins/datapicker/bootstrap-datepicker.js" %}"></script>
{#    Jasny#}
    <script src="{% static "mtplus/js/plugins/jasny/jasny-bootstrap.min.js" %}"></script>


    <!-- Custom and plugin javascript -->
    <script src="{% static "mtplus/js/inspinia.js" %}"></script>
    <script src="{% static "mtplus/js/plugins/pace/pace.min.js" %}"></script>
    <script src="{% static "mtplus/js/plugins/iCheck/icheck.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.date').datepicker();
{#            $('.metismenu li .active').removeClass();#}
            $('.metismenu a').filter(function () {
                return $(this).attr('href').toLowerCase() === window.location.pathname.toLowerCase();
            }).parent().addClass('active');
        });
    </script>
{% endblock %}
