{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
    {{ company.name }}
{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <div class="space-25"></div>
                        <h5>Users</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="mailbox.html">
                                Karl Jordan <span class="label label-warning pull-right">16</span> </a></li>
                            <li><a href="mailbox.html"> Monica Smith <span
                                    class="label label-primary">Online</span><span
                                    class="label label-warning pull-right">5</span></a></li>
                            <li><a href="mailbox.html">Michael Smith</a></li>
                            <li><a href="mailbox.html"> Janet Smith <span
                                    class="label label-warning pull-right">2</span></a></li>
                            <li><a href="mailbox.html">Alice Smith <span class="label label-primary">Online</span></a>
                            </li>
                        </ul>
                        <h5>Groups</h5>
                        <ul class="category-list" style="padding: 0">
                            <li><a href="#"> <i class="fa fa-circle text-navy"></i> Work </a></li>
                            <li><a href="#"> <i class="fa fa-circle text-danger"></i> Documents</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-primary"></i> Social</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-info"></i> Advertising</a></li>
                            <li><a href="#"> <i class="fa fa-circle text-warning"></i> Clients</a></li>
                        </ul>

                        <h5 class="tag-title">Labels</h5>
                        <ul class="tag-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Search message">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    Karl Jordan
                </h2>
            </div>
            <div class="chat-discussion">

                <div class="chat-message left">
                    <img class="message-avatar" src="{% static "mtplus/tmpimg/a1.jpg" %}" alt="">

                    <div class="message">
                        <a class="message-author" href="#"> Michael Smith </a>
                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                            <span class="message-content">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                            </span>
                    </div>
                </div>
                <div class="chat-message right">
                    <img class="message-avatar" src="{% static "mtplus/tmpimg/a4.jpg" %}" alt="">

                    <div class="message">
                        <a class="message-author" href="#"> Karl Jordan </a>
                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                            </span>
                    </div>
                </div>
                <div class="chat-message right">
                    <img class="message-avatar" src="{% static "mtplus/tmpimg/a2.jpg" %}" alt="">

                    <div class="message">
                        <a class="message-author" href="#"> Michael Smith </a>
                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                            </span>
                    </div>
                </div>
                <div class="chat-message left">
                    <img class="message-avatar" src="{% static "mtplus/tmpimg/a5.jpg" %}" alt="">

                    <div class="message">
                        <a class="message-author" href="#"> Alice Jordan </a>
                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                    </div>
                </div>
                <div class="chat-message right">
                    <img class="message-avatar" src="{% static "mtplus/tmpimg/a6.jpg" %}" alt="">

                    <div class="message">
                        <a class="message-author" href="#"> Mark Smith </a>
                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                            <span class="message-content">
											All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                It uses a dictionary of over 200 Latin words.
                                            </span>
                    </div>
                </div>

            </div>
            <div class="chat-message-form">

                <div class="form-group">


                    <div class="input-group"><input type="text" class="form-control" placeholder="Enter message text">
                        <span class="input-group-btn"> <button type="button" class="btn btn-primary">Send
                        </button> </span></div>

                </div>

            </div>

        </div>
    </div>
{% endblock %}
