{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Confirm your email address" %}{% endblock %}</h3>

    <p>{% blocktrans %}We have sent you an email to <b>{{ email }}</b> for verification. Follow the
        link provided to finalize the signup process. If you do not receive it within a few minutes,
        contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>

    <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>
{% endblock %}
