{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Email confirmed" %}{% endblock %}</h3>
    <p>{% blocktrans with email=confirmation.email_address.email %}You have confirmed
        <b>{{ email }}</b>{% endblocktrans %}</p>
{% endblock %}
