{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Confirm Email" %}{% endblock %}</h3>
    <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address
        <b>{{ email }}</b>?{% endblocktrans %}</p>
    <form method="POST" action="{% url "account_confirm_email" key=confirmation.key %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field.as_hidden }}
        {% endfor %}
        <button type="submit" name="resend" class="btn btn-primary block full-width m-b">{% trans "Confirm" %}</button>
    </form>
    {#    {% crispy form %}#}
{#    {% url "account_confirm_email" key=confirmation.key as form_action %}#}
{% endblock %}
