{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3> {% block title %}Welcome to Market+{% endblock %}</h3>
    <p>Instant B2B market place platform for your business!
    </p>
    <p>Login in. To see it in action.</p>
{#    {% if form.errors %}#}
{#        <div class="alert alert-danger">#}
{#            {% trans "Please enter a correct email and password. Note that both fields may be case-sensitive." %}#}
{#        </div>#}
{#    {% endif %}#}
    {% if next %}
        {% if user.is_authenticated %}

            <p>{% blocktrans %}Your account doesn't have access to this page. To proceed,
                please login with an account that has access.{% endblocktrans %}</p>
        {% else %}

            <p>{% blocktrans %}Please login to see this page.{% endblocktrans %}</p>
        {% endif %}
    {% endif %}
    {% crispy form %}
    <a href="{% url "account_password_reset" %}">
        <small>{% trans "Forgot password?" %}</small>
    </a>

    <p class="text-muted text-center">
        <small>{% trans "Do not have an account?" %}</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" href="{% url "account_signup" %}">{% trans "Create an account" %}</a>
{% endblock %}
