{% extends "layout.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <!-- ========================================= MAIN ========================================= -->
    <main id="authentication" class="inner-bottom-md">
        <div class="container">
            <div class="row">

           <h1>Logging out ... </h1>
           <form action="" method="post">
           	{% csrf_token %}
           	<input type="hidden" name="next" value="{{ next }}"/>
           	<div class="buttons-holder">
                                <button type="submit" class="le-button huge">{% trans "Logout" %}</button>
           </div>
           </form>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </main><!-- /.authentication -->
    <!-- ========================================= MAIN : END ========================================= -->
{% endblock %}
