{% load i18n %}
{% load widget_tweaks %}
<section class="section register inner-left-xs ">
    <h2 class="border h1">{% trans "Sign up" %}</h2>
    <p class="lead">{% trans "Create your own Media Center account" %}</p>
    {% url "account_signup" as form_action %}
    {% include 'partials/form.html' with form_id="signup_form" action=form_action submitButtonLabel='Sign up'  allHidden='False' class='reply-form cf-style-1' %}

    <h2 class="semi-bold">{% trans "Sign up today and you'll be able to :" %}</h2>
    <ul class="list-unstyled list-benefits">
        <li><i class="fa fa-check primary-color"></i> {% trans "Speed your way through the checkout" %}</li>
        <li><i class="fa fa-check primary-color"></i> {% trans "Track your orders easily" %}</li>
        <li><i class="fa fa-check primary-color"></i> {% trans "Keep a record of all your purchases" %}</li>
    </ul>
</section>
<!-- /.register -->
