{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Password reset sent" %}{% endblock %}</h3>
    {% if not resend %}
        <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes,
            try resending or contact us at
            <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
        <form method="POST" action="{% url "account_password_reset" %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field.as_hidden }}
            {% endfor %}
            <button type="submit" name="resend" class="btn btn-primary block full-width m-b">{% trans "Resend" %}</button>
        </form>
    {% else %}
        <p>{% blocktrans %}We have resent the password email. If you do not receive it within a few
            minutes, contact us at
            <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}
