{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Password reset" %}{% endblock %}</h3>
    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>
    {% crispy form %}
    <p>{% blocktrans %}If you have any trouble resetting your password, contact us at
        <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>

{% endblock %}
