{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Bad token" %}{% endblock %}</h3>

    {% url "account_password_reset" as url %}
    <p>
        {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
            request a <a href="{{ url }}">new password reset</a>.{% endblocktrans %}
    </p>
{% endblock %}
