{% extends "mtplus/layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% block breadcrumbs_title %}{% block breadcrumbs_current_title %}{% trans 'My settings' %}{% endblock %}{% endblock %}{% endblock %}


{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            {% crispy form %}
        </div>
    </div>
{% endblock %}