{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "This site is in private beta" %}{% endblock %}</h3>
    <p>{% blocktrans %}If you have signup code you can enter it below.{% endblocktrans %}</p>
    {% crispy form %}
    <form method="get" action="">
        <div><input type="text" name="code" placeholder="{% trans 'Your signup code...' %}"/></div>
        <div><input type="submit" class="btn btn-primary"></div>
    </form>
{% endblock %}
