{% extends "mtplus/site_layout.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_box_css_class %}loginscreen{% endblock %}

{% block main_content %}
    <h3>{% block title %}{% trans "Register to Market+" %}{% endblock %}</h3>
    <p>{% trans "Create account to see it in action." %}</p>
    {% crispy form %}
    <p class="text-muted text-center">
        <small>{% trans "Already have an account?" %}</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" href="{% url "account_login" %}">{% trans "Login" %}</a>

{% endblock %}
